---
import type { GetStaticPathsOptions, Page } from "astro";
import { type CollectionEntry } from "astro:content";
import { collectionSettings } from "~/site.config";
import { getPosts } from "~/lib/collections/posts";
import Webpage from "~/components/layout/base/Webpage.astro";
import Archive from "~/components/collections/posts/Archive.astro";
import Header from "~/components/collections/posts/Header.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getPosts();
  return paginate(posts, {
    params: { posts: collectionSettings.permalink_posts },
    pageSize: collectionSettings.posts_per_page || 9,
  });
}

const { page } = Astro.props as { page: Page<CollectionEntry<"posts">> };
---

<Webpage title="All posts" description="View all posts on this website.">
  <section class="flex flex-col gap-4 md:gap-8">
    <Header
      description={`Now displaying ${page.start + 1} to ${page.end + 1} posts out of ${page.total} posts.`}
      heading="Viewing all posts"
    />
    <Archive page={page} />
  </section>
</Webpage>
