---
import TextBtn from "~/components/ui/buttons/TextBtn.astro";
import SocialLinks from "~/components/layout/footer/SocialLinks.astro";
import { siteSettings } from "~/site.config";
---

<footer class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-2 p-4 md:grid-cols-3">
  <nav class="flex text-sm" aria-label="footer navigation">
    <ul class="inline-flex gap-4">
      <li>
        <TextBtn label="Contact" href={`${Astro.site}contact`} />
      </li>
      <li>
        <TextBtn label="Sitemap" href={`${Astro.site}sitemap-0.xml`} />
      </li>
    </ul>
  </nav>

  <div class="place-self-center text-center text-sm">{siteSettings.footer_text}</div>

  <SocialLinks class="place-self-end" />
</footer>
