---
import { ClientRouter } from "astro:transitions";
import { createSchema } from "~/lib/schema/article";
import Head from "~/components/layout/metadata/Head.astro";
import SkipToMain from "~/components/ui/a11y/SkipToMain.astro";
import Header from "~/components/layout/header/Header.astro";
import TocButton from "~/components/ui/toc/Button.astro";
import ScrollToTop from "~/components/ui/a11y/ScrollToTop.astro";
import Footer from "~/components/layout/footer/Footer.astro";
import SearchModal from "~/components/ui/SearchModal.astro";

const { loadingOptions, post, profile, tableOfContents } = Astro.props;

const url = new URL(Astro.url.pathname, Astro.site);

const schema = createSchema(url, post, profile);
---

<!doctype html>
<html lang="en-GB">
  <Head description={post.data.description} loadingOptions={loadingOptions} title={post.data.title}>
    <script is:inline type="application/ld+json" set:html={JSON.stringify(schema)} />
    <ClientRouter />
  </Head>

  <body
    class="text-primary-900 dark:text-primary-50 bg-primary-50 dark:bg-primary-950 text-base lg:text-lg"
  >
    <SkipToMain />
    <Header />
    <main id="main" class="mx-auto max-w-3xl px-4" data-pagefind-body>
      {tableOfContents && <TocButton />}
      <slot />
    </main>
    <ScrollToTop />
    <Footer />
    <SearchModal />
  </body>
</html>
