---
import type { MarkdownHeading } from "astro";
import type { DataEntryMap } from "astro:content";
import { createSchema } from "~/lib/schema";
import Head from "~/components/layout/base/Head.astro";
import SkipToMain from "~/components/ui/a11y/SkipToMain.astro";
import Header from "~/components/layout/header/Header.astro";
import TocButton from "~/components/ui/toc/Button.astro";
import ScrollToTop from "~/components/ui/a11y/ScrollToTop.astro";
import Footer from "~/components/layout/footer/footers/Default.astro";
import SearchModal from "~/components/ui/SearchModal.astro";

interface Props {
  description?: string;
  entry: DataEntryMap[keyof DataEntryMap][string];
  tableOfContents?: MarkdownHeading[];
  title?: string;
  type: string;
}

const { description, entry, tableOfContents, title, type } = Astro.props;

const url = new URL(Astro.url.pathname, Astro.site);

const schema = createSchema(type, url, entry);
---

<!doctype html>
<html lang="en-GB">
  <Head description={description} entry={entry} title={title}>
    <script is:inline type="application/ld+json" set:html={JSON.stringify(schema)} />
    {
      type === "searchResultsPage" && (
        <script type="module" src="/astro-skeleton/pagefind/pagefind-ui.js" />
      )
    }
  </Head>

  <body
    class="text-primary-900 dark:text-primary-50 bg-primary-50 dark:bg-primary-950 text-base lg:text-lg"
  >
    <SkipToMain />
    <Header />
    <main
      id="main"
      class:list={["mx-auto px-4", type === "article" ? "max-w-3xl" : "max-w-5xl"]}
      data-pagefind-body
    >
      {tableOfContents && <TocButton />}
      <slot />
    </main>
    <ScrollToTop />
    <Footer />
    <SearchModal />
  </body>
</html>
