---
import { ClientRouter } from "astro:transitions";
import { createSchema } from "~/lib/schema/webpage";
import Head from "~/components/layout/metadata/Head.astro";
import SkipToMain from "~/components/ui/a11y/SkipToMain.astro";
import Header from "~/components/layout/header/Header.astro";
import ScrollToTop from "~/components/ui/a11y/ScrollToTop.astro";
import Footer from "~/components/layout/footer/Footer.astro";

const { description, loadingOptions, post, title } = Astro.props;

const url = new URL(Astro.url.pathname, Astro.site);

const schema = createSchema(url, post);
---

<!doctype html>
<html lang="en-GB">
  <Head description={description} loadingOptions={loadingOptions} title={title}>
    <script is:inline type="application/ld+json" set:html={JSON.stringify(schema)} />
    <ClientRouter />
  </Head>

  <body
    class="text-primary-900 dark:text-primary-50 bg-primary-50 dark:bg-primary-950 text-base lg:text-lg"
  >
    <SkipToMain />
    <Header />
    <main id="main" class="mx-auto max-w-5xl px-4" data-pagefind-body>
      <slot />
    </main>
    <ScrollToTop />
    <Footer />
  </body>
</html>
