---
import { getEntry } from "astro:content";
import HTML from "~/components/layout/base/HTML.astro";

const entry = await getEntry("pages", "search");

if (!entry) {
  throw new Error("Search entry not found in 'pages' collection");
}
---

<HTML entry={entry} type="searchResultsPage">
  <section class="relative mb-4 grid max-w-3xl grid-cols-1 place-content-start gap-4 md:mb-12">
    <h1>Search this site</h1>
    <div id="search" class="w-full"></div>
  </section>
</HTML>

<script>
  // eslint-disable-next-line @typescript-eslint/ban-ts-comment
  // @ts-nocheck
  function initSearch() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const searchString = urlParams.get("q");

    const pagefind = new PagefindUI({
      element: "#search",
      baseUrl: "/astro-skeleton/",
      bundlePath: "/astro-skeleton/pagefind/",
      debounceTimeoutMs: 500,
      showEmptyFilters: false,
      excerptLength: 15,
      showImages: false,
      addStyles: false,
      autofocus: true,
      pageSize: 10,
      processResult: function (result) {
        result.url = result.url.replace(/\/$/, "");
        return result;
      },
    });
    if (searchString) {
      pagefind.triggerSearch(searchString);
    }
  }

  document.addEventListener("astro:page-load", initSearch);
</script>

<style is:global>
  @reference "~/styles/global.css";

  .pagefind-ui__form {
    @apply relative flex flex-col gap-2;
  }

  .pagefind-ui__search-input {
    @apply border-primary-800 dark:border-primary-200 focus:text-primary-950 focus:bg-primary-200 dark:focus:bg-primary-800 ring-secondary-500 placeholder:text-primary-900 dark:placeholder:text-primary-50 hover:placeholder:text-primary-950 border bg-transparent p-4 focus:text-white dark:hover:placeholder:text-white;
  }

  .pagefind-ui__search-clear {
    @apply hover:border-primary-950 focus-visible:bg-focus-visible hover:text-primary-950 absolute top-5 right-4 w-fit cursor-pointer border-b-2 border-transparent text-sm focus-visible:border-black focus-visible:p-1 focus-visible:text-black dark:hover:border-white dark:hover:text-white;
  }

  .pagefind-ui__message {
    @apply font-medium;
  }

  .pagefind-ui__drawer {
    @apply h-full overflow-y-auto;
  }

  .pagefind-ui__result {
    @apply border-primary-200 dark:border-primary-800 my-4 border-b;
  }

  .pagefind-ui__result mark {
    @apply bg-focus-visible;
  }

  .pagefind-ui__result-link {
    @apply hover:text-primary-950 focus-visible:bg-focus-visible font-semibold underline-offset-4 hover:underline focus:decoration-2 focus-visible:p-1 focus-visible:text-black dark:hover:text-white;
  }

  .pagefind-ui__result-title {
    @apply mb-2;
  }

  .pagefind-ui__result-inner {
    @apply my-2;
  }

  .pagefind-ui__button {
    @apply border-primary-900 dark:border-primary-50 focus-visible:bg-focus-visible dark:hover:text-primary-950 hover:bg-primary-950 hover:border-primary-950 flex cursor-pointer items-center justify-center border-2 bg-transparent p-2 px-4 transition duration-300 hover:text-white focus-visible:border-black focus-visible:text-black dark:hover:border-white dark:hover:bg-white;
  }
</style>
