---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"header"> {
  description?: string;
  heading: string;
}

const { description, heading, class: className, ...rest }: Partial<Props> = Astro.props;
---

<header class:list={["flex flex-col gap-2 md:flex-row", className]} {...rest}>
  <div class:list={["flex flex-col justify-center", description ? "gap-2" : ""]}>
    {heading && <h1>{heading}</h1>}
    {description && <p>{description}</p>}
  </div>
</header>
