---
import type { HTMLAttributes } from "astro/types";
import { collectionsConfig } from "~/site.config";
import slugify from "slugify";
import TextBtn from "~/components/ui/buttons/TextBtn.astro";

interface Props extends HTMLAttributes<"ul"> {
  tags: string[];
}

const { tags }: Props = Astro.props;
---

<ul class="flex flex-wrap gap-3 px-1 text-sm" aria-label="Tags for this post">
  {
    tags.map((tag) => (
      <li>
        <TextBtn
          href={`${import.meta.env.BASE_URL}${collectionsConfig.permalink_posts_tag}${slugify(tag, { lower: true })}`}
          label={`#${tag.toLowerCase()}`}
        />
      </li>
    ))
  }
</ul>
