---
import { Icon } from "astro-icon/components";

const iconSize = 24;
---

<li class="md:hidden">
  <button
    id="site-nav-toggle-btn"
    class="hover:bg-primary-200 dark:hover:bg-primary-800 focus-visible:bg-focus-visible cursor-pointer border-b-2 border-transparent p-2 transition-colors duration-300 focus-visible:border-black focus-visible:text-black"
    type="button"
    aria-label="toggle site navigation"
    aria-controls="site-nav"
    aria-expanded="false"
  >
    <Icon id="site-nav-open-icon" name="material-symbols:menu" height={iconSize} width={iconSize} />
    <Icon
      id="site-nav-close-icon"
      class="hidden"
      name="material-symbols:close"
      height={iconSize}
      width={iconSize}
    />
  </button>
</li>
