---
import { socialLinks } from "~/site.config";
import IconBtn from "~/components/ui/buttons/IconBtn.astro";

const { class: className } = Astro.props;
---

<div class:list={["flex items-center gap-2", className]}>
  {
    socialLinks
      .filter((link) => link.show)
      .map((link) => (
        <IconBtn
          icon={link.icon}
          iconSize={21}
          href={link.href}
          label={link.label}
          openNewTab={true}
        />
      ))
  }
</div>
