---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"a"> {
  disabled?: boolean;
  label: string;
  icon?: string;
  iconAnimate?: boolean;
  iconReverse?: boolean;
  iconSize?: number;
  openNewTab?: boolean;
}

const {
  disabled,
  label,
  icon,
  iconAnimate,
  iconReverse,
  iconSize = 21,
  openNewTab,
  href,
  class: className,
  ...rest
}: Partial<Props> = Astro.props;

const newTabAttributes = openNewTab ? { target: "_blank", rel: "noreferrer noopener" } : {};
---

<a
  class:list={[
    "not-prose group/btn bg-primary-900 dark:bg-primary-50 hover:text-primary-950 focus-visible:bg-focus-visible text-primary-50 dark:text-primary-950 hover:border-primary-900 dark:hover:border-primary-50 flex w-full items-center justify-center border-2 border-transparent p-2 px-4 font-medium transition-colors duration-300 hover:bg-transparent focus-visible:border-b-2 focus-visible:border-black focus-visible:text-black md:w-fit dark:hover:text-white",
    label && icon ? "gap-2" : "",
    iconReverse ? "flex-row-reverse" : "",
    disabled && "text-primary-200 cursor-not-allowed",
    className,
  ]}
  href={disabled ? undefined : href}
  tabindex={disabled ? "-1" : undefined}
  aria-disabled={disabled ? "true" : undefined}
  {...newTabAttributes}
  {...rest}
>
  <span>{label}</span>

  {openNewTab && <span class="sr-only">(opens in a new tab)</span>}

  {
    icon && (
      <Icon
        class:list={[
          "self-center",
          iconAnimate ? "transition-transform duration-300 group-hover/btn:-rotate-45" : "",
        ]}
        name={icon}
        height={iconSize}
        width={iconSize}
      />
    )
  }
</a>
