---
import type { ImageMetadata } from "astro";
import type { HTMLAttributes } from "astro/types";
import { Picture } from "astro:assets";
import "swiper/css";
import "swiper/css/bundle";

interface Props extends HTMLAttributes<"section"> {
  images: {
    alt: string | null;
    src: ImageMetadata;
  }[];
}

const { images, class: className, ...rest }: Props = Astro.props;
---

<section class:list={["swiper not-prose", className]} {...rest}>
  <div class="swiper-wrapper">
    {
      images.map((item, index) =>
        item ? (
          <div id={`slide-${index + 1}`} class="swiper-slide">
            <Picture
              src={item.src}
              widths={[420, 960]}
              sizes={`(max-width: 640px) 480px`}
              inferSize
              formats={["webp"]}
              loading="lazy"
              class="aspect-video object-cover"
              alt={item.alt ? item.alt : ""}
            />
          </div>
        ) : null,
      )
    }
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>

<script>
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";

  function initSwiper() {
    const swiperEl = document.querySelector(".swiper");
    if (!swiperEl) return;

    new Swiper(".swiper", {
      slidesPerView: 1,
      spaceBetween: 12,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  }

  document.addEventListener("astro:page-load", initSwiper);
</script>

<style is:global>
  @reference "~/styles/global.css";

  .swiper {
    --swiper-theme-color: #fff;
    --swiper-navigation-size: 27px;
    --swiper-navigation-color: var(--swiper-theme-color);
    --swiper-navigation-disabled-opacity: 0.35;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-color: var(--color-primary-500);
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    --swiper-pagination-bullet-inactive-scale: 0.8;
    --swiper-scrollbar-drag-size: 50px;
  }

  .swiper-button-next,
  .swiper-button-prev {
  }

  .swiper-pagination {
  }
</style>
