---
import { shareLinks, createShareUrl } from "~/lib/share";
import IconBtn from "~/components/ui/buttons/IconBtn.astro";

interface Props {
  description?: string;
  display: string[];
  title: string;
  url: string;
}

const {
  display = ["email", "facebook", "linkedin", "whatsapp"],
  description,
  title,
  url,
}: Props = Astro.props;
---

<div class="flex items-center justify-between gap-2">
  {description && <span class="mr-2 font-medium">{description}</span>}

  <div class="flex gap-1">
    {
      shareLinks
        .filter((link) => display.includes(link.name))
        .map((link) => (
          <IconBtn
            icon={link.icon}
            iconSize={21}
            href={createShareUrl(link.name, title, url)}
            label={link.label}
            openNewTab={true}
          />
        ))
    }
  </div>
</div>
